In [305]:
# import libraries needed
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression,LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [306]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/weight-height.csv')

In [307]:
df.rename(columns={'Height':'Weight','Weight':'Height'}, inplace=True) # Swapping height and weight column
df = df[['Weight','Height','Gender']]
df

         Weight      Height  Gender
0     73.847017  241.893563    Male
1     68.781904  162.310473    Male
2     74.110105  212.740856    Male
3     71.730978  220.042470    Male
4     69.881796  206.349801    Male
...         ...         ...     ...
9995  66.172652  136.777454  Female
9996  67.067155  170.867906  Female
9997  63.867992  128.475319  Female
9998  69.034243  163.852461  Female
9999  61.944246  113.649103  Female

[10000 rows x 3 columns]

In [308]:
le = LabelEncoder()
le.fit(df['Gender'])
df['Gender'] = le.transform(df['Gender'])

In [309]:
df

         Weight      Height  Gender
0     73.847017  241.893563       1
1     68.781904  162.310473       1
2     74.110105  212.740856       1
3     71.730978  220.042470       1
4     69.881796  206.349801       1
...         ...         ...     ...
9995  66.172652  136.777454       0
9996  67.067155  170.867906       0
9997  63.867992  128.475319       0
9998  69.034243  163.852461       0
9999  61.944246  113.649103       0

[10000 rows x 3 columns]

In [310]:
# Round and coverting weight & height to integer
df.round({
    'Weight':0,
    'Height':0
}).astype(int)

      Weight  Height  Gender
0         74     242       1
1         69     162       1
2         74     213       1
3         72     220       1
4         70     206       1
...      ...     ...     ...
9995      66     137       0
9996      67     171       0
9997      64     128       0
9998      69     164       0
9999      62     114       0

[10000 rows x 3 columns]

In [311]:
predict = "Weight"

In [312]:
X = np.array(df.drop(labels=predict, axis=1)) # Axis=1 -> column
y = np.array(df[predict])

In [313]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
lr = LinearRegression()
model = lr.fit(X_train, y_train)
accuracy = model.score(X_test, y_test) * 100

In [314]:
print(f'Accuracy : {accuracy:.2f}%')

Accuracy : 86.74%

In [316]:
joblib.dump(model, 'weight-predict.joblib')

['weight-predict.joblib']

In [321]:
# Testing model
mod = joblib.load('weight-predict.joblib')
prediction = mod.predict(X_test)
for x in range(100):
  print(prediction[x],'||',y_test[x])

70.3464444855266 || 70.6060922182683
64.19484248868129 || 63.2179335547522
66.99811056295063 || 66.747293134292
67.5695495279614 || 67.7276312535175
62.72565843021654 || 62.4308668218842
69.75982914745214 || 69.23425085558
67.14316644485088 || 67.0319802933961
63.95877688847075 || 64.5530373378013
70.16580346735599 || 72.2647482777197
65.79916151655763 || 64.7989611645402
66.68371644250693 || 66.8423667997649
68.59314306476348 || 69.0340650960745
59.59759093995689 || 60.3333723850573
64.63372630950234 || 63.0342601763786
64.20756093176364 || 62.3958239669813
64.56586850643926 || 62.453383131306
71.89639110300918 || 71.9695979612664
72.22125341722297 || 68.9163141794859
64.05432136093968 || 66.5667122845471
69.33356725970131 || 71.0518734357455
67.68633557122314 || 69.2467636974264
60.97873233301305 || 61.3111924053438
67.83276366913378 || 68.7772149946257
67.77270230369548 || 67.431010945909
66.92708301196778 || 67.0223707095967
62.59378285808672 || 63.4626198297076
62.29547169624003 || 62.6593439584431
68.19198226960916 || 69.3474920063227
66.57692956860959 || 65.2270970447013
62.35855071958655 || 62.736633518599
72.09577813608315 || 72.2155368859669
61.88450896222937 || 62.678265448176
66.03668648336232 || 65.078073310325
68.79610070152864 || 71.1748137598859
68.51118582289214 || 69.576910461382
63.541390828549766 || 61.9940865436986
66.00591505463149 || 66.1706818699104
70.98024471032855 || 73.2029699010359
66.93635737133903 || 68.4449674035786
61.356759436664944 || 62.4053361255275
67.45289502011406 || 65.3444634368326
71.2463426812814 || 71.8331687752888
61.3824140399785 || 59.0259533939983
63.26648180669548 || 63.2365175403148
68.31578201804929 || 68.5365827248447
66.7334020772913 || 66.4117893838934
64.31562772750367 || 63.9105157740826
71.21942382846886 || 69.3753243425993
66.42341726017005 || 65.6364896028387
61.824931519481964 || 62.791409301769
69.90535757663277 || 69.1969826515158
71.0872431652512 || 69.7288048973671
61.854439182964136 || 60.9774144476069
65.71951544532507 || 68.0976891521211
68.44754187023402 || 66.9466142031627
68.3065387132227 || 69.7016376399768
74.00621816789847 || 74.6045913696159
65.14913653094914 || 64.8534890963666
60.54870469415591 || 58.6564443597335
69.4398619686756 || 70.3225500128014
68.29821893133628 || 69.7403577153004
67.0184222071033 || 67.972159825298
66.23536826303062 || 65.0385030205002
65.75356387105239 || 67.0688136559148
63.81429495347311 || 63.6080208533715
60.0572276200079 || 57.1658400564674
67.36433423194315 || 68.8742685596147
73.02642607480816 || 74.2283244704298
63.72649091519858 || 65.9355246730795
62.6578525136323 || 64.1710760328905
68.07082201541178 || 66.685825149981
65.65945494911738 || 64.1442217409307
71.41814534748448 || 71.4347269121165
66.74054404471929 || 66.8749067066368
73.3834696686169 || 73.8462248688545
66.00799278437299 || 67.4670859102263
72.73764152578623 || 74.1178821587467
59.58414984232311 || 59.8050927800746
65.34962869331571 || 64.9393881766096
59.507875413789755 || 61.8781568640971
63.58936157609305 || 64.6591793106666
67.37532603303862 || 69.1361444266303
62.85332045578983 || 62.7958160718507
69.85271262043042 || 68.9553349088772
65.59569197449363 || 65.6102432668041
71.05358800274037 || 71.7296112873384
64.10491850896767 || 64.5172151999749
65.96947493250318 || 68.0256319897911
63.4512067068125 || 63.204342264444
67.74007301848533 || 66.4732805906825
67.1175490789634 || 66.7336340551268
63.26365154654856 || 62.6250491163806
66.81483348827241 || 67.9575799142011
67.75459071792591 || 64.572896855173
66.02618723046757 || 66.4998225910671
66.81880917674299 || 66.5381613215888
65.3543224237907 || 65.243656841476
65.9787100889182 || 66.2125364010507
65.61751869270142 || 62.8944904066328
65.04031458643968 || 64.0962071844308